# NODE_OPTIONS=--inspect-brk
TZ=UTC
LOG_LEVEL=info
LOG_FORMAT=pretty
LOG_PRETTY_SYNC=true
LOG_PRETTY_COLOR=true
LOG_PRETTY_SINGLE_LINE=true

DEBUG=true

# Not recommended to use these, use IAM roles instead
# (eg if using an EC2 instance then attach an IAM role to it that has the permissions)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PROFILE=

# JSON array of regex for whitelisted CORS origns
# (Normally backslashes must be escaped, if using systemd must be double escaped)
# WHITELIST_ORIGINS=["^https?:\\/\\/localhost(:\\d)?"]
WHITELIST_ORIGINS=[]

BIND_ADDR=127.0.0.1
BIND_PORT=3000

STORAGE_DRIVER=s3

FILESYSTEM_STORAGE_ROOT_DIRPATH=

S3_STORAGE_BUCKET_NAME=
S3_STORAGE_BUCKET_REGION=
S3_STORAGE_BUCKET_ROOT_PATH=

